* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: "Poppins", sans-serif;
}

input[type="text"],
input[type="password"],
textarea {
  border: 2px solid #ccc;
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  width: 900px;
  height: 100vh;
  padding: 20px;
  margin: 0 auto;
}

.navbar {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 10px 10px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.profile:hover {
  background-color: #fafafa;
}

.profile-img {
  width: 40px;
  background-color: black;
  border-radius: 50%;
}

.profile-name {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.search-input {
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  margin-right: 10px;
}

.content {
  display: flex;
}

.form-content,
.notes-content {
  width: 100%;
  margin: 10px;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}

.input-head-title {
  font-size: 18px;
  font-weight: 600;
}

.input-title {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.input-title_info {
  color: #b1b1b1;
  font-size: 10px;
}

.input-body {
  width: 100%;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.set-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.search-btn,
.input-btn {
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: dodgerblue;
}

.search-btn:hover,
.input-btn:hover {
  background-color: rgb(34, 128, 223);
  cursor: pointer;
}

.nav-tab {
  display: flex;
  gap: 10px;
}

.notes-list {
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.archived,
.unarchived {
  border-radius: 10px;
  padding: 3px 10px;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid white;
}

.active {
  border: 2px solid #000;
  font-weight: 600;
}

.archived:hover,
.unarchived:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.notes {
  margin-bottom: 14px;
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.notes-title {
  font-size: 18px;
  font-weight: 600;
}

.notes-date {
  font-size: 10px;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 5px 14px;
}

.notes-body {
  padding-top: 10px;
}

.notes-btn_delete,
.notes-btn_archived,
.notes-btn_unarchived {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 14px;
  cursor: pointer;
}

.notes-btn_delete {
  background-color: rgb(207, 50, 50);
}

.notes-btn_delete:hover {
  background-color: rgb(177, 44, 44);
}

.notes-btn_archived,
.notes-btn_unarchived {
  background-color: aquamarine;
}
.notes-btn_archived:hover,
.notes-btn_unarchived:hover {
  background-color: rgb(98, 214, 175);
}

.notes-item_empty {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  text-decoration: underline;
}
